body {
  background-color: #61dafb;
  margin: 0;
  padding: 0 5px;
}
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*------------------HEADER-----------------*/
.header-left-title > h2 {
  margin: 0;
  font-size: 23px;
}

.header-flex {
  display: inline-block;
  font-weight: 600;
}

.infected {
  color: rgb(143, 143, 56);
}

.dead {
  color: red;
}

.recover {
  color: cadetblue;
}

/*---------------CONTENTS------------------*/
.data-grid {
  width: 20px;
  background-color: red;
}

/*----------FOOTER------------*/
.banner-footer {
  font-weight: 700;
}
